
@model List<Category>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/CategoryCards.css">
    <title>Modern Gradient Category Cards</title>
</head>
<body>
    <div class="container">
        <!-- Category Card -->
        @foreach (var category in Model)
        {
            <div class="card">
                <img src="~/icons/@category.Icon" alt="Category">
                <div class="category-name">@category.Name</div>
                <div class="description">@category.Description</div>
                <div class="actions">
                    <button class="edit">Edit</button>
                    <button class="delete">Delete</button>
                    <button class="details">Details</button>
                </div>
            </div>
        }
    </div>


    <button class="add-button" onclick="location.href='/Category/Create'">Add New Category</button>


</body>
</html>
