@model User

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cash Gaurd</title>
    <link rel="stylesheet" href="/css/styles.css"> <!-- Include your CSS file -->
    <style>

    </style>

</head>
<body>

    @{
        string containerplce;
        if (Model == null)
        {
            containerplce = "container";
        }
        else
        {
            containerplce = "container right-panel-active";
        }
    }
    <div class="@containerplce" id="container">
        <div class="form-container sign-up-container">
            <form id="uploadForm" method="post" action="/Login/AddNew" enctype="multipart/form-data">
                <h1>Create Account</h1>

                <span></span>
                <div class="profile-pic-container">
                    <input type="file" name="file" id="photoUpload" accept="image/*" onchange="previewPhoto(this)" hidden  />
                    <div class="profile-pic" id="photoPreview"></div>
                    <label for="photoUpload" class="upload-icon">+</label>
                </div>
                <span asp-validation-for="photoPath" class="text-danger" style="color: red;"></span>

                <!-- User Name -->
                <input asp-for="User_Name" name="User_Name" id="User_Name" onkeypress="return preventSpace(event)" placeholder="User Name" required="" />
                <span asp-validation-for="User_Name" class="text-danger" style="color: red;"></span>

                <!-- First Name -->
                <input asp-for="First_Name" name="First_Name" id="First_Name" onkeypress="return preventSpace(event)" placeholder="First Name" required="" />
                <span asp-validation-for="First_Name" class="text-danger" style="color: red;"></span>

                <!-- Last Name -->
                <input asp-for="Last_Name" name="Last_Name" id="Last_Name" onkeypress="return preventSpace(event)" placeholder="Last Name" required="" />
                <span asp-validation-for="Last_Name" class="text-danger" style="color: red;"></span>

                <!-- Email -->
                <input asp-for="Email" name="Email" id="Email" onkeypress="return preventSpace(event)" placeholder="Email" required="" />
                <span asp-validation-for="Email" class="text-danger" style="color: red;"></span>

                <!-- Phone Number -->
                <input asp-for="Phone_Number" name="Phone_Number" id="Phone_Number" onkeypress="return preventSpace(event)" placeholder="Phone Number" required="" />
                <span asp-validation-for="Phone_Number" class="text-danger" style="color: red;"></span>

                <!-- Bank Account ID -->
                <div class="custom-select">
                    <select name="Currency">
                        <option value="0">Select currency:</option>
                        <option value="USD">United States Dollar (USD)</option>
                        <option value="EUR">Euro (EUR)</option>
                        <option value="JPY">Japanese Yen (JPY)</option>
                        <option value="GBP">British Pound (GBP)</option>
                        <option value="AUD">Australian Dollar (AUD)</option>
                        <!-- Add more currencies as needed -->
                    </select>
                </div>
                

                <!-- Password -->
                <input asp-for="Password" name="Password" id="Password" onkeypress="return preventSpace(event)" placeholder="Password" required="" />
                <span asp-validation-for="Password" class="text-danger" style="color: red;"></span>

                <!-- Confirm Password -->
                <input type="password" name="Confirm_Password" id="Confirm_Password" onkeypress="return preventSpace(event)" placeholder="Confirm your password" required="" />
                @Html.ValidationMessage("confirm_Password", "", new { @class = "text-danger"  })
                <!-- Hidden input for file -->
                <input type="hidden" name="file" />

                <!-- Submit and reset buttons -->
                <pre></pre>
                <pre></pre>
                <button type="submit">Sign Up</button>
                <pre></pre>
                <button type="reset"> reset  </button>
            </form>
        </div>

        <div class="form-container sign-in-container">
            <form method="post" action="/Login/check_sign">
                <h1>Sign in</h1>

                <pre> </pre>
                <input type="text" name="username" placeholder="Email / User Name " required="" />
                <input type="password" name="password" placeholder="Password" required="" />
                <pre> </pre>
                <a href="#">Forgot your password?</a>

                <button type="submit">Sign In</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>To keep connected with us please login with your personal info</p>
                    <button class="ghost" id="signIn">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>
                        Don't have account !
                    </h1>
                    <pre> </pre>
                    <p>Don't worry it is easy to have an account with us, we just need to know more about you !</p>
                    <pre> </pre>
                    <pre> </pre>
                    <pre> </pre>
                    <pre> </pre>
                    <button class="ghost" id="signUp">Sign Up</button>
                </div>
            </div>
        </div>
    </div>




    <script src="/js/login.js"></script> <!-- Include your JavaScript file -->

</body>
</html>

