<!DOCTYPE html>
<!--=== Coding by CodingLab | www.codinglabweb.com === -->
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!----======== CSS ======== -->
    <link rel="stylesheet" href="/css/DashBoard.css" />

    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet"
          href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" />

    <title>Admin Dashboard Panel</title>
</head>
<body>
    <section class="dashboard">
        <div class="dash-content">
            <div class="overview">
                <div class="title">
                    <i class="bx bx-history"></i>
                    <span class="text">Histroy</span>
                </div>
            </div>
        </div>

        <main class="table" id="customers_table">
            <section class="table__header">
                <h1>Recent Actions</h1>
                <div class="export__file">
                    <label for="export-file"
                           class="export__file-btn"
                           title="Export File"></label>
                    <input type="checkbox" id="export-file" />
                </div>
            </section>
            <section class="table__body">
                <table>
                    <thead>
                        <tr>
                            <th>
                                Operation Type <span class="icon-arrow">&UpArrow;</span>
                            </th>
                            <th>Details <span class="icon-arrow">&UpArrow;</span></th>
                            <th>Action Date <span class="icon-arrow">&UpArrow;</span></th>
                            <th>Type <span class="icon-arrow">&UpArrow;</span></th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.OperationType</td>
                                <td>@item.Details</td>
                                <td>@item.Timestamp</td>
                                @if (@item.OperationType == "Income Addition")
                                {
                                    <td>
                                        <p class="status delivered">Income</p>
                                    </td>
                                }
                                else if (item.OperationType == "Expense Addition")
                                {
                                    <td>
                                        <p class="status cancelled">Expense</p>
                                    </td>
                                }
                                else if (item.OperationType == "Category Addition")
                                {
                                    <td>
                                        <p class="status shipped">Category</p>
                                    </td>
                                } 
                                else
                                {
                                    <td>
                                        <p class="status pending">Account</p>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </section>
        </main>
    </section>

    <!----===== Table code ===== -->
    <!--End of Table code-->

    <script src="/js/DashBoard.js"></script>
</body>
</html>
