@model User
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cash Guard</title>
    <link rel="stylesheet" href="/css/AccountSettings.css"> <!-- Include your CSS file -->
    <link rel="stylesheet" href="/css/EmailAccoutnSettings.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,800" rel="stylesheet">
    <link href="~/css/show.css" rel="stylesheet">
    <style>
        /* Add custom CSS for validation messages */
        .text-danger {
            color: red;
        }
    </style>
</head>
<body>
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form asp-action="saveEmailSetting" enctype="multipart/form-data" method="post">
                <h1>Edit Email address</h1>
                <div class="space" style="margin-bottom: 20px;"></div>
                <div class="space" style="margin-bottom: 20px;"></div>
                <div class="space" style="margin-bottom: 20px;"></div>
                <div class="space" style="margin-bottom: 20px;"></div>
                <div class="space"></div><div class="space"></div>
                <pre></pre>
                <h5 style=" margin-left:0px; color: #023047;">New email address</h5>
                <div class="input-row">
                    <input type="text" name="Email" asp-for="Email" class="form-control" />
                </div>
                @Html.ValidationMessage("correctEmail", "", new { @class = "text-danger" })
                <input type="hidden" name="file">
                <span asp-validation-for="Email" class="text-danger"></span>
                <pre></pre><pre></pre><pre></pre>
                <div class="space" style="margin-bottom: 20px;"></div>
                <div class="space" style="margin-bottom: 20px;"></div>
                <div class="space" style="margin-bottom: 20px;"></div>
                <div class="space" style="margin-bottom: 20px;"></div>
                <button type="submit">Change</button>
                <div class="space" style="margin-bottom: 20px;"></div>
                <div class="space" style="margin-bottom: 20px;"></div>
                <a href="/Edit/AccountSettingPage">Back to account settings</a>
            </form>
        </div>
    </div>
</body>
</html>
