@model User
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cash Guard</title>
    <link rel="stylesheet" href="/css/nameSettings.css"> <!-- Include your CSS file -->
    <link rel="stylesheet" href="/css/AccountSettings.css"> <!-- Include your CSS file -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,800" rel="stylesheet">
    <style>

    </style>
</head>
<body>

    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form asp-action="saveNameSetting" enctype="multipart/form-data" method="post">
                <h1>Edit First and Last name</h1>
                <div class="space" style="margin-bottom: 20px;"></div>
                <div class="space" style="margin-bottom: 20px;"></div>
                <div class="space" style="margin-bottom: 20px;"></div>
                <div class="space" style="margin-bottom: 20px;"></div>

                <div class="space"></div><div class="space"></div>
                <pre></pre>
                <h5 style=" margin-left:0px; color: #023047;">First Name</h5>
                <div class="input-row">

                    <input type="text" name="First_Name" asp-for="First_Name" class="form-control" />

                </div>
                <h5 style=" margin-left: 0px; color: #023047;">Last Name</h5>
                <div class="input-row">

                    <input type="text" name="Last_Name" asp-for="Last_Name" class="form-control" />

                </div>

                <span asp-validation-for="First_Name" style="color: red;"></span>
                <span asp-validation-for="Last_Name" style="color: red;"></span>

                <input type="hidden" name="file">
                <pre></pre><pre></pre><pre></pre>
                <div class="space" style="margin-bottom: 20px;"></div>
                <div class="space" style="margin-bottom: 20px;"></div>
                <div class="space" style="margin-bottom: 20px;"></div>
                <div class="space" style="margin-bottom: 20px;"></div>
                <button type="submit">Change</button>
                <div class="space" style="margin-bottom: 20px;"></div>
                <div class="space" style="margin-bottom: 20px;"></div>
                <a href="/Edit/AccountSettingPage">Back to account settings</a>
            </form>
        </div>
    </div>

</body>
</html>
