@model User
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cash Guard</title>
    <link rel="stylesheet" href="/css/AccountSettings.css"> <!-- Include your CSS file -->
    <link rel="stylesheet" href="/css/AccountSettingPassword.css"> <!-- Include your CSS file -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,800" rel="stylesheet">
    <link href="~/css/show.css" rel="stylesheet">
</head>
<body>
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form action="/Edit/savePasswordSetting" enctype="multipart/form-data" method="post">
                <h1>Edit Password</h1>
                <div class="space" style="margin-bottom: 20px;"></div>

                <!-- Validation Messages -->
               

                <div class="space"></div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="space"></div>
                <div class="space"></div>
                <pre></pre>
                <h5 style="margin-left: 0px; color: #023047;">New password</h5>
                <div class="input-row">
                    <input type="password" name="Password" />
                </div>
                <h5 style="margin-left: 0px; color: #023047;">Confirm new password</h5>
                <div class="input-row">
                    <input type="password" name="confirmPass" />
                </div>
                @Html.ValidationMessage("correctPass", "", new { @class = "text-danger" })
                @Html.ValidationMessage("correctConfirmPass", "", new { @class = "text-danger" })
                

                <input type="hidden" name="file">
                <span asp-validation-for="Password" class="text-danger" style="color: red;"></span>
                <pre></pre><pre></pre><pre></pre>
                <div class="space" style="margin-bottom: 20px;"></div>
                <div class="space" style="margin-bottom: 20px;"></div>
                <div class="space" style="margin-bottom: 20px;"></div>
                <div class="space" style="margin-bottom: 20px;"></div>
                <button type="submit">Change</button>
                <div class="space" style="margin-bottom: 20px;"></div>
                <div class="space" style="margin-bottom: 20px;"></div>
                <a href="/Edit/AccountSettingPage">Back to account settings</a>
            </form>
        </div>
    </div>
</body>
</html>
