
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
* {
    box-sizing: border-box;
}

h1 {
    font-weight: bold;
    margin-top: -50px;
    color: #023047;
    font-size: 40px;
}

h2 {
    text-align: center;
}

p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

span {
    font-size: 12px;
}

a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

button {
    border-radius: 20px;
    border: 1px solid #8d99ae;
    background-color: #023047;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

    button:active {
        transform: scale(0.95);
    }

    button:focus {
        outline: none;
    }

    button.ghost {
        background-color: transparent;
        border-color: #FFFFFF;
    }

.button-row {
    display: flex;
    justify-content: space-between;
}

form {
    background-color: #edf2f4;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

input {
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

.container {
    background-color: #fff;
    border-radius: 40px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    height: 950px;
    max-width: 100%;

}

.form-container {
    position: absolute;
    height: 100%;
}

.sign-up-container {
    left: 0;
    width: 100%;
    opacity: 1;
    z-index: 1;
}

@keyframes show {
    0%, 49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%, 100% {
        opacity: 1;
        z-index: 5;
    }
}

.profile-pic-container {
    position: relative;
    width: 250px;
    height: 250px;
    margin-bottom: 50px;
}

.profile-pic {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

    .profile-pic:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        background-image: url('../Screenshot 2024-04-27 035559.png');
    }

.upload-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #fff;
    color: #333;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

    .upload-icon:hover {
        background-color: #f0f0f0;
    }

.input-row {
    display: flex;
    justify-content: space-between;
}

input {
    border: none;
    padding: 12px 15px;
    margin: 15px 20px;
    width: 500px;
    text-align: center;
    border-radius: 20px;
}

.space {
    margin-bottom: 20px;
}

.top-space {
    margin-top: 20px;
}

.left-space {
    margin-left: 20px;
}

.right-space {
    margin-right: 20px;
}

.table-responsive {
    max-width: 100%;
    overflow-x: auto;
}

.table thead th {
    text-align: left;
}

.table img {
    width: 24px;
    height: 24px;
}

.chart-container {
    margin-top: 20px;
}
