.form-row {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    
}

.form-col-form-label {
    font-weight: bold;
}

/* Style for buttons */
.form-btn {
    margin-right: 10px;
}

/* Style for table */
.form-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

    .form-table th,
    .form-table td {
        padding: 8px;
        text-align: left;
    }

    .form-table th {
        background-color: #343a40;
        color: #fff;
    }

.form-table-striped tbody tr:nth-of-type(odd) {
    background-color: #f8f9fa;
}

.form-table-hover tbody tr:hover {
    background-color: #e9ecef;
}

/* Grid layout for charts */
.form-charts-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Adjusted to show only 2 elements */
    gap: 20px;
    height: 80vh;
}

.form-chart-container {
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Prevent content from overflowing */
}

    .form-chart-container > div {
        width: 100%;
        height: 100%;
    }

/* Background colors for charts */
#form-incomePieChartPreivew {
    background-color: lightblue;
}

#form-expensePieChartPreivew {
    background-color: lightgreen;
}

#form-barChartPreview {
    background-color: lightcoral;
}

#form-lineChartPreview {
    background-color: lightsalmon;
}

.form-category-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    text-align: center;
}

.form-category-icon {
    max-width: 50px;
    max-height: 50px;
}

.form-progress {
    height: 20px;
    margin-top: 10px;
}

.form-progress-bar {
    border-radius: 5px;
}

.form-h2 {
    margin-top: 30px;
}

.form-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.form-card {
    width: 200px; /* Adjust the width as needed */
    margin: 10px; /* Adjust the margin as needed */
    flex: 0 0 auto; /* Maintain fixed width */
}
